camel-integration-project/src/main/java/com/ipetrushin/syncher/integration/wsrp/ws-rp.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="WSRulesProviderImplService" targetNamespace="http://ws.wsrp.syncher.ipetrushin.com/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.wsrp.syncher.ipetrushin.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://ws.wsrp.syncher.ipetrushin.com/" version="1.0" xmlns:tns="http://ws.wsrp.syncher.ipetrushin.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="getJobtitleRefHH" type="tns:getJobtitleRefHH"/>
<xs:element name="getJobtitleRefHHResponse" type="tns:getJobtitleRefHHResponse"/>
<xs:element name="getJobtitleRefMonster" type="tns:getJobtitleRefMonster"/>
<xs:element name="getJobtitleRefMonsterResponse" type="tns:getJobtitleRefMonsterResponse"/>
<xs:element name="getProfessionRefHH" type="tns:getProfessionRefHH"/>
<xs:element name="getProfessionRefHHResponse" type="tns:getProfessionRefHHResponse"/>
<xs:element name="getProfessionRefMonster" type="tns:getProfessionRefMonster"/>
<xs:element name="getProfessionRefMonsterResponse" type="tns:getProfessionRefMonsterResponse"/>
<xs:complexType name="getJobtitleRefHH">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getJobtitleRefHHResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getProfessionRefHH">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getProfessionRefHHResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getJobtitleRefMonster">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getJobtitleRefMonsterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getProfessionRefMonster">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
<xs:complexType name="getProfessionRefMonsterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getProfessionRefHHResponse">
    <wsdl:part element="tns:getProfessionRefHHResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getJobtitleRefHH">
    <wsdl:part element="tns:getJobtitleRefHH" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProfessionRefHH">
    <wsdl:part element="tns:getProfessionRefHH" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProfessionRefMonsterResponse">
    <wsdl:part element="tns:getProfessionRefMonsterResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getJobtitleRefMonster">
    <wsdl:part element="tns:getJobtitleRefMonster" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getJobtitleRefHHResponse">
    <wsdl:part element="tns:getJobtitleRefHHResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getJobtitleRefMonsterResponse">
    <wsdl:part element="tns:getJobtitleRefMonsterResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getProfessionRefMonster">
    <wsdl:part element="tns:getProfessionRefMonster" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSRulesProvider">
    <wsdl:operation name="getJobtitleRefHH">
      <wsdl:input message="tns:getJobtitleRefHH" name="getJobtitleRefHH">
    </wsdl:input>
      <wsdl:output message="tns:getJobtitleRefHHResponse" name="getJobtitleRefHHResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfessionRefHH">
      <wsdl:input message="tns:getProfessionRefHH" name="getProfessionRefHH">
    </wsdl:input>
      <wsdl:output message="tns:getProfessionRefHHResponse" name="getProfessionRefHHResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getJobtitleRefMonster">
      <wsdl:input message="tns:getJobtitleRefMonster" name="getJobtitleRefMonster">
    </wsdl:input>
      <wsdl:output message="tns:getJobtitleRefMonsterResponse" name="getJobtitleRefMonsterResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfessionRefMonster">
      <wsdl:input message="tns:getProfessionRefMonster" name="getProfessionRefMonster">
    </wsdl:input>
      <wsdl:output message="tns:getProfessionRefMonsterResponse" name="getProfessionRefMonsterResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSRulesProviderImplServiceSoapBinding" type="tns:WSRulesProvider">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getJobtitleRefHH">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getJobtitleRefHH">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getJobtitleRefHHResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfessionRefHH">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProfessionRefHH">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProfessionRefHHResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getJobtitleRefMonster">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getJobtitleRefMonster">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getJobtitleRefMonsterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getProfessionRefMonster">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getProfessionRefMonster">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getProfessionRefMonsterResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSRulesProviderImplService">
    <wsdl:port binding="tns:WSRulesProviderImplServiceSoapBinding" name="WSRulesProviderImplPort">
      <soap:address location="http://localhost:8080/services/ws-rp"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>